# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
#assets
assets/mp3_file copy.mp3
assets/mp3_file.wav
assets/sample.mp4
assets/sample2.mp4
assets/sample3.mp4
# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
